sub-proj/JSFormatter/Debug/*
sub-proj/JSFormatter/Release/*
sub-proj/JsonPP/Debug/*
sub-proj/JsonPP/Release/*
trunk/_UpgradeReport_Files/*
trunk/Debug/*
trunk/Release/*
*.aps
*.ncb
*.old
*.suo
*.user
UpgradeLog*
