*~
.DS_Store
.vs
*.pyc

sub-proj/JSFNodeNative/out.js
sub-proj/JSFNodeNative/node_modules/ffi/build/*
sub-proj/JSFNodeNative/node_modules/ref/build/*

sub-proj/JsonPP/tests/out.js
sub-proj/JsonPP/tests/out.json

sub-proj/Test/*/out*.js
sub-proj/Test/*/out*.json

*.old
