*~
.DS_Store

sub-proj/JSFormatter/Debug/*
sub-proj/JSFormatter/Release/*
sub-proj/JSFormatter/x64/*
sub-proj/JSFormatter/JSFormatter.xcodeproj/xcuserdata/*
sub-proj/JSFormatter/JSFormatter.xcodeproj/xcshareddata/*
sub-proj/JSFormatterTest/Debug/*
sub-proj/JSFormatterTest/Release/*
sub-proj/JSFormatterTest/x64/*
sub-proj/JSFormatterTest/JSFormatterTest.xcodeproj/xcuserdata/*
sub-proj/JSFormatterTest/JSFormatterTest.xcodeproj/xcshareddata/*
sub-proj/JSFormatterTest/tests/out.js
sub-proj/JsonPP/Debug/*
sub-proj/JsonPP/Release/*
sub-proj/JsonPP/x64/*
sub-proj/JsonPP/tests/out.js
sub-proj/JsonPP/tests/out.json
trunk/_UpgradeReport_Files/*
trunk/Debug/*
trunk/Unicode Debug/*
trunk/Release/*
trunk/Unicode Release/*
trunk/x64/*
trunk/DerivedData/*
trunk/JSTool.xcworkspace/xcuserdata/*
trunk/JSTool.xcworkspace/xcshareddata/*
*.aps
*.ncb
*.old
*.suo
*.user
UpgradeLog*
