*~
.DS_Store
.vs

in*.js
out*.js
in*.json
out*.json
vsproj/*/typings/*
vsproj/*/bin/*
vsproj/*/obj/*

*.aps
*.ncb
*.old
*.suo
*.user
*.VC.db
UpgradeLog*

node_modules
.vscode-test/
*.vsix
